#logo img {
    min-height: 8em !important;
    max-width: none;
    min-width: 8em;
}

.reveal p {
  text-align: left;
}
.reveal ul {
  display: block;
}
.reveal ol {
  display: block;
}

.reveal section img { 
  background:none; 
  border:none; 
  box-shadow:none; 
}

.reveal .slides {
    width: 70% !important;
    margin-top: 2.5%;
}

.reveal .slide-number {
  font-size: 1em;
  margin-bottom: 2.5em;
  color: #ffffff; }

/* .reveal .graph-section {
  transform: translate(0%, -3%) !important; 
  transform-origin: top !important;
  overflow: hidden;
} */

mark {
  background-color: yellow;
  color: black;
}

/* graph css */
div .graph {
  transform: translate(-50%, 0%) !important; 
  border-width: 0.1em;
  border-style: solid;
  border-color: transparent;
  text-align: left;
  height: 11em;
  width: 50%;
}

/* cytoscape offset */
canvas {
  top:0em;
  left:0em;
}

div .halfheight {
  height: 7em;
  /* height: 100% */
}

div .quarterheight {
  height: 6em;
  /* height: 100% */
}


section[data-transition*="none-out"].present, section[data-transition*="none-out"].past {
  transition-duration: 0s !important; }
section[data-transition*="none-in"].future, section[data-transition*="none-in"].present {
  transition-duration: 0s !important; }

  /* Logo link */
#logo:link {
  background-color: #000;
  cursor: pointer;
}
#logo:visited {
  background-color: #000;
  cursor: pointer;
}
#logo:hover {
  background-color: #B5B5B5;
  cursor: pointer;
}
#logo:active {
  background-color: #000;
  cursor: pointer;
}

/* Header link */
.reveal .header {
  white-space: pre-wrap;
  position: absolute;
  top: 0.0em;
  right: 0.5em;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  font-weight: normal;
  text-align: right;
  z-index: 100;
}

/* svg anim */
/* Style */

.svganim * {
  fill-opacity: 0;
  transition: fill-opacity 0.6s;
}

.svganim .finished * {
  fill-opacity: 1;
}